.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnFalse {
  width: 70px;
  height: 70px;
}

.btnTrue {
  margin-left: 10px;
  width: 70px;
  height: 70px;
}

.card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 10px 20px #00000033;
  border-radius: 10px;
  margin: 20px;
  padding: 40px 20px;
  animation: scaleDown 0.5s ease-out;
}

@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.category {
  font-weight: bold;
  position: absolute;
  top: 10px;
}

.questionNumber {
  position: absolute;
  bottom: 10px;
}

.errorBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff0000;
}

.errorBox span {
  display: block;
}
